* {
    padding: 0;
    margin: 0;
}

/* navigation bar section  */
.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.n-img img {
    height: 44px;
}

.n-item ul {
    display: flex;
    gap: 40px;
    height: 44px;
}

.n-item ul li {
    list-style: none;
    transition: 0.3s;
}

.n-item ul li:hover {
    background-color: rgb(35, 48, 228);
    padding: 0px 10px;
    border-radius: 8px;
}

.n-item ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 44px;
}

.n-item ul li a:hover {
    color: white;
}

.n-btn button {
    width: 140px;
    height: 35px;
    background-color: rgba(70, 145, 101, 1);
    border: 1px none;
    border-radius: 8px;
    transition: 0.3s;
}

.n-btn button:hover {
    background-color: rgb(26, 99, 56);
    transform: scale(1.1);
}

.n-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.n-btn button a {
    text-decoration: none;
    font-size: 1.05em;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* navigation bar section end  */
/* banner section stard  */
.banner{
    background-image: url(./images/hero-bg.png);
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
}

.banner-text-box{
    text-align: center;
    padding-top: 100px;
}

.banner-text-box a{
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 25px;
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transform: 0.3s;
}
.banner-text-box a:hover{
    background-color: rgba(22, 167, 70, 0.877);
    color: white;
}
.banner-text-box h1{
    margin-top: 30px;
    color: white;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.banner-text-box h2{
    color: rgb(16, 211, 97);
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.banner-text-box p{
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.banner-bnt{
    margin-top: 40px;
    text-align: center;
}

.banner-bnt button{
    height: 45px;
    padding: 0 18px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.banner-bnt button a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.btn1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgba(70, 145, 101, 1);
    transition: 0.3s;
    border: none;
}
.btn1:hover{
    background-color: rgb(5, 81, 245);
    transform: scale(1.05);
}

.btn2{
    margin-top: 5px;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s;
}

.btn2:hover{
    background-color: rgba(70, 145, 101, 0.24);
    border: 2px solid black;
    transform: scale(1.05);
}
/* banner section stard  */