* {
    padding: 0;
    margin: 0;
}

/* navigation bar section  */
.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.n-img img {
    height: 44px;
}

.n-item ul {
    display: flex;
    gap: 40px;
    height: 44px;
}

.n-item ul li {
    list-style: none;
    transition: 0.3s;
}

.n-item ul li:hover {
    background-color: rgb(35, 48, 228);
    padding: 0px 10px;
    border-radius: 8px;
}

.n-item ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 44px;
}

.n-item ul li a:hover{
    color: white;
}
.n-btn button {
    width: 140px;
    height: 35px;
    background-color: rgba(70, 145, 101, 1);
    border: 1px none;
    border-radius: 8px;
    transition: 0.3s;
}

.n-btn button:hover {
    background-color: rgb(26, 99, 56);
    transform: scale(1.1);
}

.n-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.n-btn button a {
    text-decoration: none;
    font-size: 1.05em;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
/* navigation bar section  */